<link href="~/Content/mapa.css" rel="stylesheet" />

<div class="col-12 row">


    <h3 class="col-12"> Rutas</h3><br />
    <div class="col-8">
        <div id="map"></div>
    </div>
    <div class="col-4">
        <h4>Ruta Sugerida</h4>
        <div class="objetoLista col-12">
            <div class="Nombre"></div>
            <div class="Direccion"></div>
        </div>
    </div>
    <div class="col-4 offset-4">
        <button class="btn btn-outline-success">Envíar</button>
    </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7jYnrOgeGU07m5AI192gyoJLxwIgwOY0&callback=initMap"
        async defer></script>
<script src="~/Scripts/mapa.js"></script>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 4.6199212, lng: -74.0865597 },
            zoom: 12
        });
    }

    $(document).ready(function () {
        var url = "@ViewBag.Url";
        var icon = {
            url: "https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/atm.png", // url
            scaledSize: new google.maps.Size(30, 30), // scaled size
            origin: new google.maps.Point(0,0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };
        



        $.get(url + "Cajero", function (data) {
            var marker;
            $.each(data, function (index, value) {
                
                marker=new google.maps.Marker({
                    position: { lat: parseFloat(value.Lat), lng: parseFloat(value.Lng) },
                    title: value.Nombre,
                    map: map,
                    icon: icon,

                });

                marker.addListener('click', function () {
                    bootbox.alert("Cajero: "+value.Nombre+"\n Direccion"+value.Direccion+" \n Cantidad Dinero")
                });               

                //marker.setMap(map);
            })
        });

        $.get(url + "Ruta", function (data) {
            $.each(data, function (index, value) {

                var copia = $(".objetoLista").first().clone();
                $(copia).find(".Nombre").text(value.Nombre);
                $(copia).find(".Direccion").text(value.Direccion);
                $(".objetoLista").parent().append(copia)
                //marker.setMap(map);
            });

            $(".objetoLista").first().remove();
        })
    });

</script>