<link href="~/Content/mapa.css" rel="stylesheet" />

<div class="col-12 row">


    <h3> Rutas</h3>
    <div class="col-8">
        <div id="map"></div>
    </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
        async defer></script>
<script src="~/Scripts/mapa.js"></script>